<h1>Ejemplo de Gráfica con Ruby + Sinatra + Chart.js</h1>
<canvas id="grafica" width="400" height="200"></canvas>
<style>
    h1{ font-family: 'Courier New', Courier, monospace; }
</style>
<script src="/script.js"></script>
